/*===================
=     Utilities     =
====================*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial,
    sans-serif;
  font-size: 16px;
  width: 100%;
  height: 100%;
  font-weight: 700;
}
@include pc {
  h2 {
    font-size: 64px;
    line-height: 96px;
    font-weight: 700;
  }

  h3 {
    font-size: 48px;
    line-height: 72px;
    font-weight: 700;
  }

  h4 {
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
  }

  h5 {
    font-size: 36px;
    line-height: 54px;
    font-weight: 700;
  }
}

@include pad {
  h2 {
    font-size: 48px;
    line-height: 72px;
    font-weight: 700;
  }

  h3 {
    font-size: 32px;
    line-height: 48px;
    font-weight: 700;
  }

  h4 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
  }

  h5 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
  }
}

@include mobile {
  h2 {
    font-size: 32px;
    line-height: 72px;
    font-weight: 700;
  }

  h3 {
    font-size: 24px;
    line-height: 48px;
    font-weight: 700;
  }

  h4 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
  }

  h5 {
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
  }
}

p {
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
}

.text-center {
  text-align: center;
}

.bg-color {
  background-color: $bg-light-green;
}

.text-color {
  color: $text-green;
}
